{%extends 'base.html'%}
{%block content%}

<div class="container-fluid ps-md-0">
    <div class="row g-0">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">Bem vindo</h3>
  
                <!-- Sign In Form -->
                <form action="{%url 'login'%}" method="post">
                {%csrf_token%} 
                  {{auth_form}}
                    <button class="btn btn-lg btn-secondary btn-login text-uppercase fw-bold mb-2 mt-3" type="submit">Sign in</button>
                    <div class="text-center">
                      <a class="" href="#">.</a>
                    </div>
                  </div>
  
                </form>
                <br>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{%endblock%}