{%extends 'base.html'%}
{%load static%}
  {%block header%}
  <header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <div class="logo me-auto">
        <h1><a href="{%url 'index'%}">CompFood</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="static/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="{%url 'gerencia'%}" class="book-a-table-btn scrollto">Gerência</a>
      <a href="{%url 'pedidos'%}" class="book-a-table-btn">Pedidos</a>
      <a href="{%url 'cadastro_itens'%}" class="book-a-table-btn">Adicionar Itens</a>

    </div>
  </header><!-- End Header -->
{%endblock%}
{%block content%}
  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Gerenciamento de <span>pedidos</span></h2>
          <ol>
            <li><a href="/">{{rest}}</a></li>
            <li>Pedidos</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <hr>
    <section class="pedidos">
        <div class="container">
          <span>Cadastro de Itens</span>
          <p>
            <form action="{%url 'cadastro_itens' %}" method="post" validate>
                {%csrf_token%}
                    {{item_form}}
                <button type="submit" class="book-a-table-btn mt-3">Cadastrar Item</button>
            </form>
          </p>
        </div>
    </section>

  </main>
  {%endblock%}
