{%extends 'base.html'%}

{%block header%}
<section id="topbar" class="d-flex align-items-center fixed-top topbar-transparent">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-center justify-content-lg-start">
    <i class="bi bi-phone d-flex align-items-center"><span></span></i>
    <i class="bi bi-clock ms-4 d-none d-lg-flex align-items-center"><span></span></i>
  </div>

</section>
<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center header-transparent">
  <span style="color:white; margin-left: 5px;">
    {%for message in messages%}
    {{message}}
    {%endfor%}
  </span>
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    <div class="logo me-auto">
      <h1><a href="{%url 'index'%}">CompFood</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="static/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Início</a></li>
        <li><a class="nav-link scrollto" href="#menu">Cardápio</a></li>
        <li><a class="nav-link scrollto" href="#gallery">Galeria</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->


    <a href="#book-a-table" class="book-a-table-btn scrollto">Faça um pedido</a>
    {%if user.is_superuser%}
    <a href="{%url 'gerencia' %}" class="book-a-table-btn ">Gerência</a>
    <a href="{%url 'cadastro_itens'%}" class="book-a-table-btn">Adicionar Itens</a>
    {%endif%}
    {%if perms.core.delete_pedido%}
    <a href="{%url 'pedidos' %}" class="book-a-table-btn">Pedidos</a>
    {%endif%}
    <a href="{%url 'logout'%}" class="book-a-table-btn"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
      <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
    </svg></a>



  </div>
</header><!-- End Header -->
{%endblock%}

{%block content%}
<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(static/img/slide/slide-1.jpg);">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown"><span>{{rest}}</span></h2>
              <p class="animate__animated animate__fadeInUp">Pratos calculados, computadorizadamente apenas para vê-lo
                sorrir.</p>
              <div>
                <a href="#menu" class="btn-menu animate__animated animate__fadeInUp scrollto">Nosso Cardápio</a>
                <a href="#book-a-table" class="btn-book animate__animated animate__fadeInUp scrollto">Faça um pedido</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(static/img/slide/slide-2.jpg);">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">{{rest}}</h2>
              <p class="animate__animated animate__fadeInUp">Sempre trabalhamos no limite para fornecermos um trabalho
                integral e diferenciado.</p>
              <div>
                <a href="#menu" class="btn-menu animate__animated animate__fadeInUp scrollto">Nosso Cardápio</a>
                <a href="#book-a-table" class="btn-book animate__animated animate__fadeInUp scrollto">Faça um pedido</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(static/img/slide/slide-3.jpg);">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">{{rest}}</h2>
              <p class="animate__animated animate__fadeInUp">Tudo programado para vê-lo feliz.</p>
              <div>
                <a href="#menu" class="btn-menu animate__animated animate__fadeInUp scrollto">Nosso Cardápio</a>
                <a href="#book-a-table" class="btn-book animate__animated animate__fadeInUp scrollto">Faça um pedido</a>
              </div>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container-fluid">

      <div class="row">

        <div class="col-lg-5 align-items-stretch video-box" style='background-image: url("static/img/about.jpg");'>
          <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video"
            data-autoplay="true"></a>
        </div>

        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

          <div class="content">
            <h3>Apenas alguns motivos<strong> para frequentar nosso espaço</strong></h3>
            <p>
              Comer bem nunca foi tão fácil! Agora com o CompFood na sua região você terá acesso a pratos deliciosos e um atendimento de deixar até a rainha da Inglaterra (ou não) com inveja!
            </p>
            <p class="fst-italic">
              Venha fazer uma visita e aproveitar essa maravilha com a gente!
            </p>
            <ul>
              <li><i class="bx bx-check-double"></i> Que tal reunir os amigos em um ambiente confortável com a melhor comida da região?  </li>
              <li><i class="bx bx-check-double"></i>Venha conhecer o nosso cardápio e tenha uma noite inesquecível.</li>
              <li><i class="bx bx-check-double"></i> Tenho certeza que vai querer voltar. Faça um pedido agora mesmo.</li>
            </ul>
          </div>

        </div>

      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Whu Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container">

      <div class="section-title">
        <h2>Por que escolher <span>Computação Food</span></h2>
        <p>Somos excelência.</p>
      </div>

      <div class="row">

        <div class="col-lg-4">
          <div class="box">
            <span>01</span>
            <h4>Atendimento</h4>
            <p>O melhor atendimento da região, comprovado por inteligência artificial</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box">
            <span>02</span>
            <h4>Qualidade</h4>
            <p>A melhor refeção de toda a zona da mata você encontra aqui</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box">
            <span>03</span>
            <h4> Time</h4>
            <p>Contamos com o melhor time de profissionais de todo o território mineiro</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Whu Us Section -->

  <!-- ======= Menu Section ======= -->
  <section id="menu" class="menu">
    <div class="container">

      <div class="section-title">
        <h2>Confira nosso <span>Cardápio</span></h2>
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="menu-flters">
            <li data-filter="*" class="filter-active">Cardápio</li>
            <li data-filter=".filter-salads">Esconder</li>
          </ul>
        </div>
      </div>

      <div class="row menu-container">
        {%for iten in itens%}
        <div class="col-lg-6 menu-item filter-starters">
          <div class="menu-content">
            <a href="#">{{iten.nome}}</a><span>R${{iten.preco}}</span>
          </div>
          <div class="menu-ingredients">
            Leva {{iten.tempo_preparo_minutos}} minutos para ficar pronto 
          </div>
        </div>
        {%endfor%}
      </div>
  </section><!-- End Menu Section -->

  <!-- ======= Specials Section ======= -->
  <section id="specials" class="specials">
    <div class="container">

      <div class="section-title">
        <h2>Confira nossos <span>Especiais</span></h2>
        <p>Os melhores, garantimos.</p>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Arroz de rico</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Só laranja?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Macarrão em sopa</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Nhoque de Natal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Fruta no prato</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-9 mt-4 mt-lg-0">
          <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Arroz de rico</h3>
                  <p class="fst-italic">Feito com arroz, água e frango de rico</p>
                  
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="static/img/specials-1.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-2">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Só laranja?</h3>
                  <p class="fst-italic">Só tem laranja ali</p>
                  
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="static/img/specials-2.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-3">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Macarrão em sopa</h3>
                  <p class="fst-italic">Dá pra fazer em casa, mas o nosso é melhor</p>
                  
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="static/img/specials-3.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-4">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Nhoque de Natal</h3>
                  <p class="fst-italic">Pra comer em dezembro</p>
                  
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="static/img/specials-4.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-5">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Fruta no prato</h3>
                  <p class="fst-italic">Aqui só tem frutinha.</p>
                  
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="static/img/specials-5.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Specials Section -->

  <!-- ======= Book A Table Section ======= -->
  <section id="book-a-table" class="book-a-table">
    <div class="container">

      <div class="section-title">
        <h2>Faça um <span>Pedido</span></h2>
        <p>Desfrute do restaurante mais procurado da cidade.</p>
      </div>

      <form action="{%url 'index' %}" method="post" role="form" validate>
        {%csrf_token%}
        {{pedido_form}}
        <div class="text-center"><button class=" btn btn-secondary mt-3" type="submit">Fazer Pedido</button></div>
      </form>

    </div>
  </section><!-- End Book A Table Section -->

  <!-- ======= Gallery Section ======= -->
  <section id="gallery" class="gallery">
    <div class="container-fluid">

      <div class="section-title">
        <h2>Algumas Fotos do <span>Nosso Restaurante</span></h2>
        <p>Confira:</p>
      </div>

      <div class="row g-0">

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="static/img/gallery/gallery-1.jpg" class="gallery-lightbox">
              <img src="static/img/gallery/gallery-1.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="static/img/gallery/gallery-2.jpg" class="gallery-lightbox">
              <img src="static/img/gallery/gallery-2.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="static/img/gallery/gallery-3.jpg" class="gallery-lightbox">
              <img src="static/img/gallery/gallery-3.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="static/img/gallery/gallery-4.jpg" class="gallery-lightbox">
              <img src="static/img/gallery/gallery-4.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="static/img/gallery/gallery-5.jpg" class="gallery-lightbox">
              <img src="static/img/gallery/gallery-5.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="static/img/gallery/gallery-6.jpg" class="gallery-lightbox">
              <img src="static/img/gallery/gallery-6.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="static/img/gallery/gallery-7.jpg" class="gallery-lightbox">
              <img src="static/img/gallery/gallery-7.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="static/img/gallery/gallery-8.jpg" class="gallery-lightbox">
              <img src="static/img/gallery/gallery-8.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Gallery Section -->

  <!-- ======= Testimonials Section ======= -->
  <span>Desenvolvedores: </span>
  <section id="testimonials" class="testimonials">
    <div class="container position-relative">

      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="static/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
              <h3>Ana Clara Guerra</h3>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Uma mensagem de Ana entra aqui.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="static/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
              <h3>Danilo Vieira</h3>
              <h4></h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Uma mensagem de Danilo entra aqui.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="static/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
              <h3>Ian Otoni</h3>
              <h4></h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Uma mensagem de Ian entra aqui.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="static/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
              <h3>Lucas Alves</h3>
              <h4></h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Uma mensagem de Lucas entra aqui.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2><span>Nossa</span> Localização</h2>
        <p></p>
      </div>
    </div>

    <div class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7461.532566819206!2d-42.87081209131322!3d-20.76026492815375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa367e9cdb2f669%3A0x542a43b65a572c53!2sUFV!5e0!3m2!1spt-BR!2sbr!4v1665523674543!5m2!1spt-BR!2sbr"
        width="100%" height="500em" style="border:0;" allowfullscreen loading="lazy"></iframe>
    </div>

    <div class="container mt-5">

      <div class="info-wrap">
        <div class="row">
          <div class="col-lg-3 col-md-6 info">
            <i class="bi bi-geo-alt"></i>
            <h4>Localização:</h4>
            <p>{{rest.localizacao}}</p>
          </div>

          <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
            <i class="bi bi-clock"></i>
            <h4>Aberto:</h4>
            <p>Segunda a sexta:<br>{{rest.horario_funcionamento}}</p>
          </div>

          <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
            <i class="bi bi-envelope"></i>
            <h4>Proprietário:</h4>
            <p>{{rest.proprietario}}</p>
          </div>

          <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
            <i class="bi bi-phone"></i>
            <h4>Ligue:</h4>
            <p>{{rest.telefone}}<br></p>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->

{%endblock%}